{{#if addNewPost}}
  <h4>Add a Post</h4>
  <div class="newPost">
    <form>
      <label for="name">Title</label>
      {{input value=name id="name"}}
      <label for="author">Author</label>
      {{input value=author id="author"}}
      <label for="date">Date</label>
      {{input value=date id="date"}}
      <label for="text">Title</label>
      {{textarea value=text id="text" rows="5"}}
      <label for="image">Image URL</label>
      {{input value=image id="image"}}
      <button {{action 'savePost'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'postFormShow'}}>New Post</button>
{{/if}}
