<img class="img-circle img-responsive img-center" style="width: 200px"src={{model.image}} alt="postImage">
<h2 class="blog-post-title">{{model.name}}<br></h2>
<p class="blog-post-meta">post date: {{model.date}} by {{model.author}} </p>
<blockquote>{{model.text}}</blockquote>
{{edit-post post=model updatePost="updatePost"}}
<br>
<button {{action 'destroyPost' post}}>Delete this post</button><hr>

<h2>Comments</h2>

  {{new-comment save2="save3" post=model}}

<ul>
{{#each model.comments  as |comment|}}
  {{comment-tile comment=comment update="update"}}
{{/each}}
</ul>
